@import "../styles_variables";

:host {
  font-family: "SF Pro Text Medium";
  font-size: 14px;
  color: #191919;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "New York Small Heavy";
}

span {
  color: $ninho_orange;
}

.content-margin {
  max-width: 960px;
  align-content: center;
  margin: auto;
}

.fixed-toolbar {
  z-index: 999;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}
.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  .app-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    label {
      margin-left: 10px;
    }
  }
  .button {
    cursor: pointer;
    text-align-last: right;
  }
}

.download-btns {
  display: inline-grid;
  margin-top: 60px;
  label {
    place-self: center;
  }
}

.download-btn {
  border-radius: 21px;
  padding: 10px 40px;
  background-color: $ninho_orange;
  color: white;
  border: 0;
  cursor: pointer;
}

.header-section {
  display: flex;
  margin: 82px auto 32px;
  align-items: center;
  justify-content: space-between;
  .sub-section {
    padding-left: 30px;
  }
}

.description-text {
  opacity: 50%;
}

.phone-img {
  max-width: 100%;
}

.gray-bg {
  background-color: $ninho_bg_gray;
}

.testflight-btn {
  border-radius: 10px;
  display: flex;
  line-height: 35px;
  border: 0;
  margin-top: 30px;
  padding: 0 20px 0 0;
  background: linear-gradient(0deg, rgba(49,119,236,1) 0%, rgba(87,193,245,1) 100%);
  color: white;
  font-family: "SF Pro Text Medium";
  cursor: pointer;
  min-width: 210px;
  img {
    padding-top: 2px;
  }
}

.body-section {
  display: flex;
  max-width: 760px;
  justify-content: space-between;
  padding-top: 50px;
}
.sub-section {
  width: 47%;
}

.features-list {
  max-width: 50%;
}

.feature-item {
  margin-bottom: 30px;

  .name {
    display: flex;

    h4 {
      margin: 10px 20px;
    }
  }

  .description {
    padding-left: 33px;
  }
}

.contact-us {
  margin-top: 40px;
  h2 {
    margin: 0;
  }

  .email-input {
    margin-top: 20px;
    border-radius: 20px 0 0 20px;
    padding: 8px 20px;
    border: solid 1px gray;
  }
  .sign-up {
    border-radius: 0 20px 20px 0;
    padding: 9px 35px 9px 30px;
    background-color: $ninho_orange;
    color: white;
    border: 0;
    cursor: pointer;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  .people {
    align-items: center;
    img {
      max-width: 100%;
    }
  }
}
.footer-banner {
  height: 20px;
  background-color: $ninho_orange;
  margin-top: -24px;
}

@media screen and (max-width: 575px) {
  .toolbar {
    width: 96%;
  }
  .header-section {
    padding: 30px;
    .sub-section {
      padding-left: 0;
    }
  }
  .body-section {
    display: block;
    .sub-section {
      width: 80%;
      max-width: 100%;
      padding: 30px;
    }
  }
  .footer {
     display: block;
     .sub-section {
       margin-top: 0;
       width: 80%;
       max-width: 100%;
       padding: 30px 10px 0 30px;
       input {
         width: 40%;
       }
     }
   }
}
