<div class="toolbar">
  <div class="app-name">
    <img width="40px" src="../assets/icon.png"/>
    <label>
      Ninho<span>App</span>
    </label>
  </div>

  <div>
    <button class="download-btn">
      Baixar no iOs
    </button>
  </div>
</div>

<div class="content">
  <div class="content-margin header-section">

    <div class="sub-section">
      <h1>
        Sua rede de apoio na <br>
        <span>palma da sua mão</span>
      </h1>

      <div>
        A expressão Lorem ipsum em design gráfico e <br>
        editoração é um texto padrão em latim utilizado na <br>
        produção gráfica.
      </div>

      <button>
        Botão da App Store
      </button>
    </div>

    <div class="sub-section">
      <img class="phone-img" src="../assets/iphones.png">
    </div>

  </div>

  <div class="gray-bg">
    <div class="content-margin body-section">

      <div class="sub-section">
        <h2>
          Sua rede de apoio na <br>
          <span>palma da sua mão</span>
        </h2>

        <div>
          A expressão Lorem ipsum em design gráfico e <br>
          editoração é um texto padrão em latim utilizado na <br>
          produção gráfica.
        </div>

        <div class="download-btns">
          <button class="download-btn">
            Baixar no iOS
          </button>
          <label>Em breve em Android</label>
        </div>
      </div>

      <div class="sub-section features-list">
        <div class="feature-item">
          <div class="name">
            <img src="../assets/lens-orange.svg">
            <h4>Registre gastos</h4>
          </div>
          <div class="description">
            A expressão Lorem ipsum em design gráfico e
            editoração é um texto padrão em latim utilizado na
            produção gráfica.
          </div>
        </div>

        <div class="feature-item">
          <div class="name">
            <img src="../assets/lens-orange.svg">
            <h4>Compartilhe tarefas domésticas</h4>
          </div>
          <div class="description">
            A expressão Lorem ipsum em design gráfico e
            editoração é um texto padrão em latim utilizado na
            produção gráfica.
          </div>
        </div>

        <div class="feature-item">
          <div class="name">
            <img src="../assets/lens-orange.svg">
            <h4>Relatórios personalizados</h4>
          </div>
          <div class="description">
            A expressão Lorem ipsum em design gráfico e <
            editoração é um texto padrão em latim utilizado na
            produção gráfica.
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="gray-bg">
    <div class="content-margin footer">
      <div class="sub-section">
        <div class="people">
          <img src="../assets/peeps.png">
        </div>
      </div>


      <div class="contact-us sub-section">
        <h2>Mantenha contato conosco</h2>
        Não se preocupe! Seu email está bem guardado com a gente :)

        <form class="contact-form" (submit)="sendEmail($event)" [formGroup]="form">
          <input class="email-input" type="email" name="user_email" placeholder="E-mail" formControlName="user_email">
          <button class="sign-up">
            Inscrever
          </button>
        </form>
        <label *ngIf="message">{{message}}</label>
      </div>

    </div>
  </div>
  <div class="footer-banner"></div>
</div>
