@font-face {
  font-family: 'SF Pro Text Medium';
  src: url('assets/fonts/sf-pro-text-medium.woff') format('woff');
}
@font-face {
  font-family: 'New York Small Heavy';
  src: url('assets/fonts/NewYorkSmallHeavy.otf');
}
